<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chirag.moviedb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tmdb_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tmdb_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".user.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="www.mywebsite.com"
                    android:pathPrefix="/@string/app_name"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".user.register.RegisterActivity" />

        <activity
            android:name=".dbmovie.DBHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>

        <activity
            android:name=".moviedetail.MovieDetailActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".dbmovie.DBHomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chirag.moviedb.dbmovie.DBHomeActivity" />
        </activity>
        <activity android:name=".user.account.UserAccountActivity" />
    </application>

</manifest>